---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Richard Goudelin" description="About Richard Goudelin Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Ricahrd Goudelin Montagne"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a dedicated engineering student with a deep passion for computer science and artificial intelligence. 
						Currently doing the famous master Mathématiques, Vision, Apprentissage (MVA) at <a href="https://www.master-mva.com/">ENS Paris-Saclay</a>, 
						I aspire to become a data scientist and be part of the upcoming technological revolutions.  
						My personal projects and education have provided me with a solid foundation in programming and mathematics.
						Beyond academics, I'm an enthusiast of 3D modeling, 3D printing, volleyball, object-oriented programming,
						 gymnastics, parachuting, and rock climbing.
						 I would say that my strengths lie primarily in my quick learning and adaptability. Furthermore, despite my young age, 
						 I was able to co-found a consulting company specializing in cryptocurrency assets in 2021.
					</p>
					<p>
						
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
					  2024-2025 : <a href="https://ens-paris-saclay.fr/">ENS Paris-Saclay</a>, 
					  <a href="https://www.master-mva.com/">Master 2 Mathématique, Vision, Apprentissage (MVA)</a>
					</p>
					<p style="padding-top: 20px;"></p>
					<p>
					  2021-/ : <a href="https://www.esilv.fr/">ESILV</a>, Engineering school, Master Data Sciences & Intelligence artificielle, La Défense
					</p>
					<p style="padding-top: 20px;"></p>
					<p>
					  2022-2022 : Sungkyunkwan University, Seoul, top 4 South Korea
					</p>
					<p style="padding-top: 20px;"></p>
					<p>
					  2020-2021 : Hoche MPSI Preparatory Classes, Versailles
					</p>
				  </div>
				</section>
			<section>
				<h2 class="section-title">Professional Experiences</h2>
				<div class="content">
					<p><strong>April 2024 - July 2024</strong>: Data Scientist (Internship), Bouygues Telecom Entreprises, Vélizy-Villacoublay, Île-de-France, France</p>
					<ul>
						<li>Developed AI tools for detecting financial leaks.</li>
						<li>Automated classification processes for comments and images.</li>
						<li>Optimized team productivity.</li>
					</ul>
					<p style="padding-top: 20px;"></p>

					<p><strong>September 2021 - June 2024</strong>: Science Teacher (Freelance), Superprof, On-site</p>
					<ul>
						<li>Taught mathematics and physics-chemistry to high school students.</li>
					</ul>
					<p style="padding-top: 20px;"></p>

					<p><strong>May 2021 - September 2022</strong>: Co-founder, Algorent </p>
					<ul>
						<li>Developed position-taking algorithms.</li>
						<li>Managed client communication, customer service, and relationships.</li>
						<li>Created a profitable service in partnership with business managers in the trading sector.</li>
						<li>Decided to leave the project due to significant changes in the company's operational model after my colleague departed.</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><strong>My main programming languages are Python, C#, Java, and MySQL.</strong> With this foundation, I can easily adapt to other programming languages, such as Dart for my recent app project.</p>
					<p style="padding-top: 20px;"></p>
					<p>I actively solve questions on <strong>Kaggle</strong> to enhance my data science skills.</p>
					<p style="padding-top: 20px;"></p>
					<p>I frequently practice coding questions to improve my logic and stay sharp in <strong>object-oriented programming (OOP)</strong>.</p>
					<p style="padding-top: 20px;"></p>
					<p><strong>Design Thinking Certificate</strong> to enhance my creative problem-solving abilities.</p>
					<p style="padding-top: 20px;"></p>
					<p>English: <strong>TOEFL ITP B2</strong> level proficiency.</p>
					<p style="padding-top: 20px;"></p>
					<p>Driving License</p>
					<p style="padding-top: 20px;"></p>
					<p>Sky Diving License</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
